<div class="parent">
    <div class="timer-container">
        <div id="timer-line"></div>
    </div>
    <div class="otps"></div>
</div>
<style>
    .otp, .otps, .parent {
        display: flex
    }

    .otp_name {
        font-size: 16px;
        padding-bottom: 10px
    }

    .otp_code {
        font-weight: 700
    }

    .parent {
        flex-direction: column
    }

    .otps {
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        flex-wrap: wrap
    }

    .otp {
        flex-direction: column;
        justify-content: space-between;
        font-size: 30px;
        text-align: center;
        flex: 0 1 15%;
        margin: 14px;
        border-bottom: 1px solid #d6d6d6;
        padding: 10px;
        max-width: 25vw
    }

    .timer-container {
        width: 100%;
        height: 5px;
        background-color: #2e2e2e;
        position: fixed;
        top: 0
    }

    #timer-line {
        height: 100%;
        background-color: #d6d6d6;
        width: 100%
    }
</style>

<script>
    const token = "{{ token }}";
    const proto = location.protocol === 'https:' ? 'wss' : 'ws';
    const socket = new WebSocket(`${proto}://${location.host}/ws?token=${encodeURIComponent(token)}`);
    const otpContainer = document.querySelector('.otps');

    socket.onmessage = (event) => {
        const otps = JSON.parse(event.data);

        otpContainer.innerHTML = '';

        otps.forEach(({name, code}) => {
            const otpDiv = document.createElement('div');
            otpDiv.className = 'otp';
            otpDiv.innerHTML = `
            <div class="otp_name">${name}</div>
            <span class="otp_code">${code}</span>
        `;
            otpContainer.appendChild(otpDiv);
        });

    };

    socket.onclose = () => {
        window.location.href = '/';
    };

    function updateTimer() {
        const progress = (30 - (Date.now() / 1000) % 30) / 30 * 100;
        document.getElementById('timer-line').style.width = progress + '%';
    }

    setInterval(updateTimer, 10);
    updateTimer();

</script>

